@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.astrologyservicemaincontainer{
    max-width: 1200px;
    margin-inline: auto;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 100px;
}
.inastrologyserheading{
    font-size: 26px;
    line-height: 31px;
    font-weight: 400;
	font-family: "Philosopher", sans-serif;
	color: #cee1e8;
}
.astrologynavigationbutton{
    height: 40px;
    width: 224.781px;
    /* display: inline-block; */
    background-color: #1D3443;
    margin: auto;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inastrologyhomebutton{
    font-size: 14px;
    /* line height for giving the space beween two lines */
    line-height: 18px;
    font-family: "Inter", sans-serif;
    color: #cee1e8; 
}

.astrologyabackslashspann{
    color: #cee1e8;
}
.astrologgyahbutton{
    font-size: 14px;
	/* line height for giving the space beween two lines */
	line-height: 18px;
	font-family: "Inter", sans-serif;
	color: #cee1e8;
}

.inapoastrologybutton{
    font-size: 14px;
	/* line height for giving the space beween two lines */
	line-height: 18px;
	font-family: "Inter", sans-serif;
	color: #cee1e8;
}
.astrologysecondcontainer{
    background-image: url(../assets/bakgroundimage.jpg);
    max-width: 1200px;
    margin-inline: auto;
    height: auto;
    padding-inline: 15px;
    text-align: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    padding-bottom: 100px;
    margin-bottom: 50px;
    padding-top: 100px;
    margin-top: 50px;
}

.astrologyoutercontainer{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: 16px;
    gap: 16px;
}
.astrologyaallcard{
    background-color: lightslategray;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, .9);
    background-color: #09273c;
    cursor: pointer;
    height: fit-content;
    margin-bottom: 30px;
}
.astrologyimagecontianer{
    height: 180px;
    overflow: hidden;
}
.astrologyimages{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.seeallastrologyshaorangebutton{
    position: absolute;
    height: 50px;
    background-color: #ff7010;
    align-items: center;
    /* text-align: center; */
    font-size: 14px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    padding: 0 23px;
    position: relative;
    margin-left: 15px;
    border: none !important;
    outline: none;
    top: -25px;
    left: 35px;
    font-size: 14px;
    /* line height for giving the space beween two lines */
    line-height: 26px;
    font-family: "Inter", sans-serif;
    color:  rgb(255, 255, 255);   
}
.seeallastrologyshaorangebutton::after{
    content: "";
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 15px solid #ff7010;
}
.seeallastrologyshaorangebutton::before{
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    bottom: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 15px solid #ff7010
}
.seeallastrologyshaorangebutton:hover{
    color:  rgb(255, 255, 255);  
    background-color: #F56200; 
}
.seeallastrologyshaorangebutton:hover::after{
    border-left: 15px solid #F56200;
}
.seeallastrologyshaorangebutton:hover::before{
    border-right: 15px solid #F56200
}
.astrologyfdetailscontainer{
    padding-inline: 15px;
    text-align: start;
}

.nameofastrologysservice{
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
	font-family: "Philosopher", sans-serif;
	color: #cee1e8;
    margin-top: -8px;
}
.nameofastrologysservice:hover{
	color: #ff7010;
}
.astrologyservicesaddress{
    font-size: 14px;
    font-weight: 400;
	/* line height for giving the space beween two lines */
	line-height: 24px;
	font-family: "Inter", sans-serif;
	color: #cee1e8;
}
.showmoreeastrology{
    color: #ff7010;
    background-color: transparent;
    margin: 0;
    margin-left: 5px;
}













@media (max-width:320px) {
    .insideastrologyfirstcontainer{
        padding-top: 20px;
    }
}